.dltButton{
  margin-right: 10px;
  background-color: white;
  color: red;
}

/* .detailButton{
  
} */

.flex-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-heading{
  font-weight: 600;
  color: rgb(65, 62, 62);
}

.sort-buttons{
  display: flex;
  gap: 10px;
}

.flex-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.flex-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  
}